<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Ducks</title>
</head>
<body>
    <h1>Rubber Ducks List</h1>
    <ul>
        <% for(let item of produse) { %>
            <li>
                <h2><%= item.nume %></h2>
                <p><%= item.descriere %></p>
                <img src="<%= item.imagine %>" alt="<%= item.nume %>" width="150">
                <p>Price: $<%= item.pret %></p>
            </li>
        <% } %>
    </ul>
</body>
</html> -->
